## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

WARNING:tensorflow:From C:\Users\Spencer Auslander\anaconda3\lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns = ['EIN', 'NAME'])
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
value_counts = application_df['APPLICATION_TYPE'].value_counts()
value_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(value_counts[value_counts<527].index)
application_types_to_replace

['T9', 'T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17']

In [6]:

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning
classification = application_df['CLASSIFICATION'].value_counts()
classification

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification2 = classification.loc[classification > 1]
classification2

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification[classification<1882].index)
classifications_to_replace

['C7000',
 'C1700',
 'C4000',
 'C5000',
 'C1270',
 'C2700',
 'C2800',
 'C7100',
 'C1300',
 'C1280',
 'C1230',
 'C1400',
 'C7200',
 'C2300',
 'C1240',
 'C8000',
 'C7120',
 'C1500',
 'C1800',
 'C6000',
 'C1250',
 'C8200',
 'C1238',
 'C1278',
 'C1235',
 'C1237',
 'C7210',
 'C2400',
 'C1720',
 'C4100',
 'C1257',
 'C1600',
 'C1260',
 'C2710',
 'C0',
 'C3200',
 'C1234',
 'C1246',
 'C1267',
 'C1256',
 'C2190',
 'C4200',
 'C2600',
 'C5200',
 'C1370',
 'C1248',
 'C6100',
 'C1820',
 'C1900',
 'C1236',
 'C3700',
 'C2570',
 'C1580',
 'C1245',
 'C2500',
 'C1570',
 'C1283',
 'C2380',
 'C1732',
 'C1728',
 'C2170',
 'C4120',
 'C8210',
 'C2561',
 'C4500',
 'C2150']

In [10]:
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [11]:
# Convert categorical data to numeric with `pd.get_dummies`
dummies_values = pd.get_dummies(application_df)
dummies_values.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [12]:
# Split our preprocessed data into our features and target arrays
X = dummies_values.drop('IS_SUCCESSFUL', axis=1).values
y = dummies_values['IS_SUCCESSFUL'].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42)

In [13]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

**First Attempt**

In [14]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features1 = X_train_scaled.shape[1]
input_features1

43

In [15]:
hidden_nodes_layerfirst1 =  8
hidden_nodes_layerfirst2 = 5
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layerfirst1, activation="relu", input_dim=input_features1))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layerfirst2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

WARNING:tensorflow:From C:\Users\Spencer Auslander\anaconda3\lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 352

 dense_1 (Dense)             (None, 5)                 45

 dense_2 (Dense)             (None, 1)                 6

=================================================================
Total params: 403 (1.57 KB)
Trainable params: 403 (1.57 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [16]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

WARNING:tensorflow:From C:\Users\Spencer Auslander\anaconda3\lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [17]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
WARNING:tensorflow:From C:\Users\Spencer Auslander\anaconda3\lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From C:\Users\Spencer Auslander\anaconda3\lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

804/804 [==============================] - 1s 666us/step - loss: 0.6039 - accuracy: 0.7008
Epoch 2/100
804/804 [==============================] - 1s 648us/step - loss: 0.5647 - accuracy: 0.7256
Epoch 3/100
804/804 [==============================] - 1s 645us/step - loss: 0.5592 - accuracy: 0.7285
Epoch 4/100
804/804 [==============================] - 1s 647us/step - loss: 0.5569 - accuracy: 0.7297
Epoch 5/100
804/804 [==============================] - 1s 649us/step - loss: 0.5550 - accuracy: 0.7300
Epoch 6/100
804/804 [==============================] - 1s 644us/step - loss: 0.5539 - accuracy: 0.7301
Epoch 7/100
804/804 [==============================] - 1s 654us/step - loss: 0.5534 - accuracy: 0.7303
Epoch 8/100
804/804 [==============================] - 1s 648us/step - loss: 0.5525 - accuracy: 0.7305
Epoch 9/100
804/804 [==============================] - 1s 645us/step - loss: 0.5521 - accuracy: 0.7305
Epoch 10/100
804/804 [==============================] - 1s 647us/step - loss: 0.5516 - accuracy: 0.7301
Epoch 11/100
804/804 [==============================] - 1s 644us/step - loss: 0.5513 - accuracy: 0.7304
Epoch 12/100
804/804 [==============================] - 1s 645us/step - loss: 0.5511 - accuracy: 0.7300
Epoch 13/100
804/804 [==============================] - 1s 643us/step - loss: 0.5507 - accuracy: 0.7299
Epoch 14/100
804/804 [==============================] - 1s 645us/step - loss: 0.5509 - accuracy: 0.7303
Epoch 15/100
804/804 [==============================] - 1s 648us/step - loss: 0.5503 - accuracy: 0.7306
Epoch 16/100
804/804 [==============================] - 1s 644us/step - loss: 0.5505 - accuracy: 0.7307
Epoch 17/100
804/804 [==============================] - 1s 656us/step - loss: 0.5500 - accuracy: 0.7308
Epoch 18/100
804/804 [==============================] - 1s 645us/step - loss: 0.5498 - accuracy: 0.7301
Epoch 19/100
804/804 [==============================] - 1s 651us/step - loss: 0.5493 - accuracy: 0.7306
Epoch 20/100
804/804 [==============================] - 1s 644us/step - loss: 0.5495 - accuracy: 0.7306
Epoch 21/100
804/804 [==============================] - 1s 643us/step - loss: 0.5491 - accuracy: 0.7301
Epoch 22/100
804/804 [==============================] - 1s 643us/step - loss: 0.5493 - accuracy: 0.7310
Epoch 23/100
804/804 [==============================] - 1s 644us/step - loss: 0.5493 - accuracy: 0.7310
Epoch 24/100
804/804 [==============================] - 1s 667us/step - loss: 0.5486 - accuracy: 0.7303
Epoch 25/100
804/804 [==============================] - 1s 662us/step - loss: 0.5487 - accuracy: 0.7313
Epoch 26/100
804/804 [==============================] - 1s 672us/step - loss: 0.5489 - accuracy: 0.7307
Epoch 27/100
804/804 [==============================] - 1s 670us/step - loss: 0.5484 - accuracy: 0.7311
Epoch 28/100
804/804 [==============================] - 1s 660us/step - loss: 0.5485 - accuracy: 0.7307
Epoch 29/100
804/804 [==============================] - 1s 671us/step - loss: 0.5485 - accuracy: 0.7312
Epoch 30/100
804/804 [==============================] - 1s 655us/step - loss: 0.5481 - accuracy: 0.7310
Epoch 31/100
804/804 [==============================] - 1s 646us/step - loss: 0.5483 - accuracy: 0.7310
Epoch 32/100
804/804 [==============================] - 1s 656us/step - loss: 0.5481 - accuracy: 0.7309
Epoch 33/100
804/804 [==============================] - 1s 672us/step - loss: 0.5477 - accuracy: 0.7313
Epoch 34/100
804/804 [==============================] - 1s 663us/step - loss: 0.5478 - accuracy: 0.7315
Epoch 35/100
804/804 [==============================] - 1s 666us/step - loss: 0.5475 - accuracy: 0.7320
Epoch 36/100
804/804 [==============================] - 1s 671us/step - loss: 0.5477 - accuracy: 0.7318
Epoch 37/100
804/804 [==============================] - 1s 654us/step - loss: 0.5476 - accuracy: 0.7305
Epoch 38/100
804/804 [==============================] - 1s 671us/step - loss: 0.5475 - accuracy: 0.7311
Epoch 39/100
804/804 [==============================] - 1s 680us/step - loss: 0.5474 - accuracy: 0.7314
Epoch 40/100
804/804 [==============================] - 1s 662us/step - loss: 0.5472 - accuracy: 0.7310
Epoch 41/100
804/804 [==============================] - 1s 678us/step - loss: 0.5474 - accuracy: 0.7321
Epoch 42/100
804/804 [==============================] - 1s 674us/step - loss: 0.5471 - accuracy: 0.7315
Epoch 43/100
804/804 [==============================] - 1s 652us/step - loss: 0.5471 - accuracy: 0.7312
Epoch 44/100
804/804 [==============================] - 1s 660us/step - loss: 0.5470 - accuracy: 0.7310
Epoch 45/100
804/804 [==============================] - 1s 687us/step - loss: 0.5469 - accuracy: 0.7320
Epoch 46/100
804/804 [==============================] - 1s 666us/step - loss: 0.5468 - accuracy: 0.7318
Epoch 47/100
804/804 [==============================] - 1s 649us/step - loss: 0.5470 - accuracy: 0.7317
Epoch 48/100
804/804 [==============================] - 1s 653us/step - loss: 0.5466 - accuracy: 0.7324
Epoch 49/100
804/804 [==============================] - 1s 694us/step - loss: 0.5467 - accuracy: 0.7320
Epoch 50/100
804/804 [==============================] - 1s 651us/step - loss: 0.5466 - accuracy: 0.7309
Epoch 51/100
804/804 [==============================] - 1s 645us/step - loss: 0.5466 - accuracy: 0.7315
Epoch 52/100
804/804 [==============================] - 1s 678us/step - loss: 0.5463 - accuracy: 0.7317
Epoch 53/100
804/804 [==============================] - 1s 682us/step - loss: 0.5464 - accuracy: 0.7324
Epoch 54/100
804/804 [==============================] - 1s 663us/step - loss: 0.5467 - accuracy: 0.7314
Epoch 55/100
804/804 [==============================] - 1s 657us/step - loss: 0.5460 - accuracy: 0.7314
Epoch 56/100
804/804 [==============================] - 1s 667us/step - loss: 0.5463 - accuracy: 0.7316
Epoch 57/100
804/804 [==============================] - 1s 676us/step - loss: 0.5461 - accuracy: 0.7325
Epoch 58/100
804/804 [==============================] - 1s 698us/step - loss: 0.5462 - accuracy: 0.7325
Epoch 59/100
804/804 [==============================] - 1s 685us/step - loss: 0.5458 - accuracy: 0.7324
Epoch 60/100
804/804 [==============================] - 1s 655us/step - loss: 0.5456 - accuracy: 0.7322
Epoch 61/100
804/804 [==============================] - 1s 652us/step - loss: 0.5461 - accuracy: 0.7327
Epoch 62/100
804/804 [==============================] - 1s 670us/step - loss: 0.5458 - accuracy: 0.7331
Epoch 63/100
804/804 [==============================] - 1s 644us/step - loss: 0.5462 - accuracy: 0.7324
Epoch 64/100
804/804 [==============================] - 1s 660us/step - loss: 0.5455 - accuracy: 0.7322
Epoch 65/100
804/804 [==============================] - 1s 650us/step - loss: 0.5457 - accuracy: 0.7330
Epoch 66/100
804/804 [==============================] - 1s 649us/step - loss: 0.5460 - accuracy: 0.7329
Epoch 67/100
804/804 [==============================] - 1s 686us/step - loss: 0.5454 - accuracy: 0.7325
Epoch 68/100
804/804 [==============================] - 1s 660us/step - loss: 0.5458 - accuracy: 0.7319
Epoch 69/100
804/804 [==============================] - 1s 664us/step - loss: 0.5455 - accuracy: 0.7322
Epoch 70/100
804/804 [==============================] - 1s 634us/step - loss: 0.5455 - accuracy: 0.7316
Epoch 71/100
804/804 [==============================] - 1s 643us/step - loss: 0.5457 - accuracy: 0.7320
Epoch 72/100
804/804 [==============================] - 1s 645us/step - loss: 0.5455 - accuracy: 0.7328
Epoch 73/100
804/804 [==============================] - 1s 659us/step - loss: 0.5454 - accuracy: 0.7326
Epoch 74/100
804/804 [==============================] - 1s 656us/step - loss: 0.5452 - accuracy: 0.7325
Epoch 75/100

804/804 [==============================] - 1s 646us/step - loss: 0.5457 - accuracy: 0.7329
Epoch 76/100
804/804 [==============================] - 1s 659us/step - loss: 0.5453 - accuracy: 0.7324
Epoch 77/100
804/804 [==============================] - 1s 659us/step - loss: 0.5455 - accuracy: 0.7329
Epoch 78/100
804/804 [==============================] - 1s 672us/step - loss: 0.5449 - accuracy: 0.7330
Epoch 79/100
804/804 [==============================] - 1s 651us/step - loss: 0.5453 - accuracy: 0.7334
Epoch 80/100
804/804 [==============================] - 1s 650us/step - loss: 0.5454 - accuracy: 0.7327
Epoch 81/100
804/804 [==============================] - 1s 649us/step - loss: 0.5449 - accuracy: 0.7329
Epoch 82/100
804/804 [==============================] - 1s 634us/step - loss: 0.5452 - accuracy: 0.7326
Epoch 83/100
804/804 [==============================] - 1s 652us/step - loss: 0.5453 - accuracy: 0.7329
Epoch 84/100
804/804 [==============================] - 1s 632us/step - loss: 0.5451 - accuracy: 0.7324
Epoch 85/100
804/804 [==============================] - 1s 666us/step - loss: 0.5449 - accuracy: 0.7331
Epoch 86/100
804/804 [==============================] - 1s 656us/step - loss: 0.5450 - accuracy: 0.7332
Epoch 87/100
804/804 [==============================] - 1s 693us/step - loss: 0.5449 - accuracy: 0.7330
Epoch 88/100
804/804 [==============================] - 1s 647us/step - loss: 0.5448 - accuracy: 0.7334
Epoch 89/100
804/804 [==============================] - 1s 731us/step - loss: 0.5449 - accuracy: 0.7329
Epoch 90/100
804/804 [==============================] - 1s 819us/step - loss: 0.5449 - accuracy: 0.7327
Epoch 91/100
804/804 [==============================] - 1s 819us/step - loss: 0.5449 - accuracy: 0.7340
Epoch 92/100
804/804 [==============================] - 1s 658us/step - loss: 0.5450 - accuracy: 0.7332
Epoch 93/100
804/804 [==============================] - 1s 677us/step - loss: 0.5446 - accuracy: 0.7335
Epoch 94/100
804/804 [==============================] - 1s 640us/step - loss: 0.5445 - accuracy: 0.7338
Epoch 95/100
804/804 [==============================] - 1s 653us/step - loss: 0.5448 - accuracy: 0.7332
Epoch 96/100
804/804 [==============================] - 1s 658us/step - loss: 0.5445 - accuracy: 0.7331
Epoch 97/100
804/804 [==============================] - 1s 660us/step - loss: 0.5445 - accuracy: 0.7331
Epoch 98/100
804/804 [==============================] - 1s 644us/step - loss: 0.5445 - accuracy: 0.7331
Epoch 99/100
804/804 [==============================] - 1s 638us/step - loss: 0.5446 - accuracy: 0.7332
Epoch 100/100
804/804 [==============================] - 1s 643us/step - loss: 0.5446 - accuracy: 0.7324

In [18]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5559 - accuracy: 0.7291 - 222ms/epoch - 828us/step
Loss: 0.5559157133102417, Accuracy: 0.7290962338447571

Second Attempt

In [19]:
input_features2 = X_train_scaled.shape[1]
input_features2
hidden_nodes_layersecond1 =  40
hidden_nodes_layersecond2 = 35
hidden_nodes_layersecond3 = 15
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layersecond1, activation="relu", input_dim=input_features2))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layersecond2, activation="relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layersecond3, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 40)                1760

 dense_4 (Dense)             (None, 35)                1435

 dense_5 (Dense)             (None, 15)                540

 dense_6 (Dense)             (None, 1)                 16

=================================================================
Total params: 3751 (14.65 KB)
Trainable params: 3751 (14.65 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [20]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [ ]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 1s 697us/step - loss: 0.5735 - accuracy: 0.7158
Epoch 2/100
804/804 [==============================] - 1s 702us/step - loss: 0.5552 - accuracy: 0.7285
Epoch 3/100
804/804 [==============================] - 1s 689us/step - loss: 0.5518 - accuracy: 0.7319
Epoch 4/100
804/804 [==============================] - 1s 686us/step - loss: 0.5499 - accuracy: 0.7321
Epoch 5/100
804/804 [==============================] - 1s 687us/step - loss: 0.5489 - accuracy: 0.7318
Epoch 6/100
804/804 [==============================] - 1s 703us/step - loss: 0.5483 - accuracy: 0.7337
Epoch 7/100
804/804 [==============================] - 1s 694us/step - loss: 0.5476 - accuracy: 0.7327
Epoch 8/100
804/804 [==============================] - 1s 689us/step - loss: 0.5467 - accuracy: 0.7345
Epoch 9/100
804/804 [==============================] - 1s 701us/step - loss: 0.5467 - accuracy: 0.7322
Epoch 10/100
804/804 [==============================] - 1s 717us/step - loss: 0.5451 - accuracy: 0.7334
Epoch 11/100
804/804 [==============================] - 1s 694us/step - loss: 0.5453 - accuracy: 0.7336
Epoch 12/100
804/804 [==============================] - 1s 770us/step - loss: 0.5455 - accuracy: 0.7342
Epoch 13/100
804/804 [==============================] - 1s 968us/step - loss: 0.5446 - accuracy: 0.7339
Epoch 14/100
804/804 [==============================] - 1s 868us/step - loss: 0.5440 - accuracy: 0.7360
Epoch 15/100
804/804 [==============================] - 1s 807us/step - loss: 0.5438 - accuracy: 0.7349
Epoch 16/100
804/804 [==============================] - 1s 907us/step - loss: 0.5434 - accuracy: 0.7351
Epoch 17/100
804/804 [==============================] - 1s 822us/step - loss: 0.5433 - accuracy: 0.7348
Epoch 18/100
804/804 [==============================] - 1s 823us/step - loss: 0.5429 - accuracy: 0.7363
Epoch 19/100
804/804 [==============================] - 1s 769us/step - loss: 0.5426 - accuracy: 0.7336
Epoch 20/100
804/804 [==============================] - 1s 718us/step - loss: 0.5427 - accuracy: 0.7355
Epoch 21/100
804/804 [==============================] - 1s 725us/step - loss: 0.5422 - accuracy: 0.7367
Epoch 22/100
804/804 [==============================] - 1s 750us/step - loss: 0.5417 - accuracy: 0.7371
Epoch 23/100
804/804 [==============================] - 1s 730us/step - loss: 0.5419 - accuracy: 0.7358
Epoch 24/100
804/804 [==============================] - 1s 720us/step - loss: 0.5412 - accuracy: 0.7361
Epoch 25/100
804/804 [==============================] - 1s 713us/step - loss: 0.5414 - accuracy: 0.7361
Epoch 26/100
804/804 [==============================] - 1s 737us/step - loss: 0.5414 - accuracy: 0.7354
Epoch 27/100
804/804 [==============================] - 1s 719us/step - loss: 0.5408 - accuracy: 0.7367
Epoch 28/100
804/804 [==============================] - 1s 715us/step - loss: 0.5406 - accuracy: 0.7367
Epoch 29/100
804/804 [==============================] - 1s 704us/step - loss: 0.5399 - accuracy: 0.7356
Epoch 30/100
804/804 [==============================] - 1s 707us/step - loss: 0.5399 - accuracy: 0.7376
Epoch 31/100
804/804 [==============================] - 1s 694us/step - loss: 0.5404 - accuracy: 0.7373
Epoch 32/100
804/804 [==============================] - 1s 705us/step - loss: 0.5401 - accuracy: 0.7372
Epoch 33/100
804/804 [==============================] - 1s 690us/step - loss: 0.5395 - accuracy: 0.7372
Epoch 34/100
804/804 [==============================] - 1s 698us/step - loss: 0.5395 - accuracy: 0.7369
Epoch 35/100
804/804 [==============================] - 1s 719us/step - loss: 0.5393 - accuracy: 0.7377
Epoch 36/100
804/804 [==============================] - 1s 711us/step - loss: 0.5396 - accuracy: 0.7369
Epoch 37/100
804/804 [==============================] - 1s 694us/step - loss: 0.5389 - accuracy: 0.7385
Epoch 38/100
804/804 [==============================] - 1s 691us/step - loss: 0.5392 - accuracy: 0.7376
Epoch 39/100
804/804 [==============================] - 1s 692us/step - loss: 0.5391 - accuracy: 0.7366
Epoch 40/100
804/804 [==============================] - 1s 712us/step - loss: 0.5390 - accuracy: 0.7373
Epoch 41/100
804/804 [==============================] - 1s 709us/step - loss: 0.5389 - accuracy: 0.7376
Epoch 42/100
804/804 [==============================] - 1s 745us/step - loss: 0.5388 - accuracy: 0.7370
Epoch 43/100
804/804 [==============================] - 1s 707us/step - loss: 0.5383 - accuracy: 0.7387
Epoch 44/100
804/804 [==============================] - 1s 702us/step - loss: 0.5385 - accuracy: 0.7380
Epoch 45/100
804/804 [==============================] - 1s 688us/step - loss: 0.5381 - accuracy: 0.7388
Epoch 46/100
804/804 [==============================] - 1s 691us/step - loss: 0.5386 - accuracy: 0.7382
Epoch 47/100
804/804 [==============================] - 1s 751us/step - loss: 0.5381 - accuracy: 0.7379
Epoch 48/100
804/804 [==============================] - 1s 720us/step - loss: 0.5381 - accuracy: 0.7387
Epoch 49/100
804/804 [==============================] - 1s 720us/step - loss: 0.5376 - accuracy: 0.7387
Epoch 50/100
804/804 [==============================] - 1s 716us/step - loss: 0.5378 - accuracy: 0.7384
Epoch 51/100
804/804 [==============================] - 1s 687us/step - loss: 0.5379 - accuracy: 0.7386
Epoch 52/100
804/804 [==============================] - 1s 689us/step - loss: 0.5378 - accuracy: 0.7387
Epoch 53/100
804/804 [==============================] - 1s 691us/step - loss: 0.5371 - accuracy: 0.7388
Epoch 54/100
804/804 [==============================] - 1s 692us/step - loss: 0.5377 - accuracy: 0.7377
Epoch 55/100
804/804 [==============================] - 1s 688us/step - loss: 0.5372 - accuracy: 0.7383
Epoch 56/100
804/804 [==============================] - 1s 696us/step - loss: 0.5372 - accuracy: 0.7386
Epoch 57/100
804/804 [==============================] - 1s 685us/step - loss: 0.5371 - accuracy: 0.7390
Epoch 58/100
804/804 [==============================] - 1s 715us/step - loss: 0.5371 - accuracy: 0.7399
Epoch 59/100
804/804 [==============================] - 1s 723us/step - loss: 0.5372 - accuracy: 0.7390
Epoch 60/100
804/804 [==============================] - 1s 720us/step - loss: 0.5365 - accuracy: 0.7388
Epoch 61/100
804/804 [==============================] - 1s 723us/step - loss: 0.5367 - accuracy: 0.7393
Epoch 62/100
804/804 [==============================] - 1s 711us/step - loss: 0.5369 - accuracy: 0.7386
Epoch 63/100
804/804 [==============================] - 1s 759us/step - loss: 0.5366 - accuracy: 0.7388
Epoch 64/100
804/804 [==============================] - 1s 700us/step - loss: 0.5366 - accuracy: 0.7385
Epoch 65/100
804/804 [==============================] - 1s 721us/step - loss: 0.5365 - accuracy: 0.7384
Epoch 66/100
804/804 [==============================] - 1s 690us/step - loss: 0.5360 - accuracy: 0.7390
Epoch 67/100
804/804 [==============================] - 1s 712us/step - loss: 0.5367 - accuracy: 0.7374
Epoch 68/100
804/804 [==============================] - 1s 723us/step - loss: 0.5362 - accuracy: 0.7385
Epoch 69/100
804/804 [==============================] - 1s 725us/step - loss: 0.5360 - accuracy: 0.7403
Epoch 70/100
804/804 [==============================] - 1s 711us/step - loss: 0.5360 - accuracy: 0.7400
Epoch 71/100
804/804 [==============================] - 1s 747us/step - loss: 0.5362 - accuracy: 0.7385
Epoch 72/100
804/804 [==============================] - 1s 726us/step - loss: 0.5358 - accuracy: 0.7393
Epoch 73/100
804/804 [==============================] - 1s 719us/step - loss: 0.5359 - accuracy: 0.7395
Epoch 74/100
804/804 [==============================] - 1s 732us/step - loss: 0.5357 - accuracy: 0.7392
Epoch 75/100
804/804 [==============================] - 1s 733us/step - loss: 0.5361 - accuracy: 0.7397
Epoch 76/100
804/804 [==============================] - 1s 802us/step - loss: 0.5358 - accuracy: 0.7388
Epoch 77/100
804/804 [==============================] - 1s 722us/step - loss: 0.5359 - accuracy: 0.7392
Epoch 78/100
804/804 [==============================] - 1s 719us/step - loss: 0.5357 - accuracy: 0.7399
Epoch 79/100

804/804 [==============================] - 1s 736us/step - loss: 0.5357 - accuracy: 0.7393
Epoch 80/100
804/804 [==============================] - 1s 746us/step - loss: 0.5346 - accuracy: 0.7396
Epoch 81/100
804/804 [==============================] - 1s 708us/step - loss: 0.5359 - accuracy: 0.7390
Epoch 82/100
804/804 [==============================] - 1s 719us/step - loss: 0.5353 - accuracy: 0.7393
Epoch 83/100
804/804 [==============================] - 1s 728us/step - loss: 0.5349 - accuracy: 0.7394
Epoch 84/100
804/804 [==============================] - 1s 707us/step - loss: 0.5358 - accuracy: 0.7395
Epoch 85/100
804/804 [==============================] - 1s 696us/step - loss: 0.5352 - accuracy: 0.7389
Epoch 86/100
804/804 [==============================] - 1s 709us/step - loss: 0.5353 - accuracy: 0.7393
Epoch 87/100
804/804 [==============================] - 1s 720us/step - loss: 0.5347 - accuracy: 0.7404
Epoch 88/100
804/804 [==============================] - 1s 706us/step - loss: 0.5355 - accuracy: 0.7390
Epoch 89/100
804/804 [==============================] - 1s 699us/step - loss: 0.5351 - accuracy: 0.7406
Epoch 90/100
804/804 [==============================] - 1s 717us/step - loss: 0.5350 - accuracy: 0.7393
Epoch 91/100
804/804 [==============================] - 1s 714us/step - loss: 0.5348 - accuracy: 0.7390
Epoch 92/100
361/804 [============>.................] - ETA: 0s - loss: 0.5352 - accuracy: 0.7386

In [ ]:
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Third Attempt

In [ ]:
input_features3 = X_train_scaled.shape[1]
input_features3
hidden_nodes_layerthird1 =  37
hidden_nodes_layerthird2 = 27
hidden_nodes_layerthird3 = 17
hidden_nodes_layerthird4 = 7
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layerthird1, activation="relu", input_dim=input_features2))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layerthird2, activation="relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layerthird3, activation="relu"))

# Fourth hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layerthird3, activation="tanh"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

In [ ]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [ ]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

In [ ]:
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

In [ ]:
# Export our model to HDF5 file
filepath = r"C:\Users\Spencer Auslander\deep-learning-challenge\AlphabetSoupCharity_Optimization.h5"
nn.save(filepath, save_format='h5')